:root {
    --Primario: #000;
    --Texto: #fff;
    --Secundario: #960c0c;
}

* {
    font-family: Arial;
}

body {
    background: var(--Primario);
    width: 100vw;
    height: 50vh;
    padding: 25vh 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}

div.Alert {
    transition: all 2s;
    width: 100vw;
    height: 50vh;
    padding: 25vh 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--Primario);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 20vh;
    box-shadow: 0px 0px 10rem var(--Texto);
}

div.Alert p {
    text-align: center;
    color: var(--Texto);
    font-size: min(30vh, 2rem);
    margin: 0px;
    padding: 0px min(30%, 2rem);
}

div.Alert button {
    text-align: center;
    color: var(--Texto);
    height: min(30vh, 2.5rem);
    padding: calc( min(30vh, 2rem) / 4 ) 0px;
    width: min(60vw, 20rem);
    font-size: calc( min(30vh, 2rem) / 2 );
    background: var(--Secundario);
    border-radius: calc( min(30vh, 2rem) / 8 );
    border: none;
    margin: auto;
}

div.Preguntas > div {
    transition: all 2s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--Primario);
    box-shadow: 0px 0px 10rem var(--Texto);
}

div.Preguntas div.Number,
div.Preguntas div.Quizz {
    display: grid;
    grid-template-rows: 15vh 35vh;
    height: 50vh;
    padding: 25vh 0px;
}

div.Preguntas div.Quizz > div {
    display: flex;
    flex-direction: column;
}

div.Preguntas div.Quizz > div button {
    flex-grow: 1;
}

div.Preguntas div p {
    text-align: center;
    color: var(--Texto);
    font-size: min(30vh, 2rem);
    margin: 0px;
    padding: 0px min(30%, 2rem);
}

div.Preguntas div input,
div.Preguntas div button {
    text-align: center;
    color: var(--Primario);
    font-size: calc( min(30vh, 2rem) / 1.5 );
    width: min( 75%, 20rem );
    height: 3rem;
    background: var(--Texto);
    border-radius: calc( 2rem / 4 );
    margin: 0.5rem calc( 50% - min( 75%, 20rem ) / 2 );
    outline: none;
    border: none;
}